<ion-item [detail]="detailed" class="w-full" [ngClass]="{ 'cursor-pointer': detailed }">

  <div class="flex flex-col mb-4 mt-2">
    <p class=" text-2xl font-bold leading-9 tracking-tight mb-1 truncate uppercase">
      {{ name }}
    </p>
    <div class="flex flex-row">
      <ion-avatar slot="start" class="h-20 w-20 mr-4">
        <app-avatar  class="h-20 w-20 mr-4" [size]="'regular'" [img]="image || ''" [type]="'product'"></app-avatar>
      </ion-avatar>
      <ion-label>
        <p class="font-semibold" *ngIf="stock">
          Stock:
          <span
            class="font-normal"
            [ngClass]="{ 'text-danger-hbr': !stock || stock <= 5, 'text-warning': stock <= 15 && stock > 5 }"
            >{{ stock || "0" }}</span
          >
        </p>
        <p class="font-semibold" *ngIf="price">
          Price: <span class="font-normal">{{ price | currency }}</span>
        </p>
        <p class="font-semibold" *ngIf="category">
          Category:
          <span class="font-normal">{{ category }}</span>
        </p>
        <p *ngIf="description" class="font-semibold">
          Description:
          <span class="font-normal">{{ description }}</span>
        </p>
        <p *ngIf="quantity" class="font-semibold">
          Quantity:
          <span class="font-normal">{{ quantity }}</span>
        </p>
    
        <p *ngIf="quantity && price" class="font-semibold">
          Subtotal:
          <span class="font-normal">{{ subtotal | currency }}</span>
        </p>
      </ion-label>
    </div>
  </div>



</ion-item>
