<ng-container>
  <ion-button color="primary" (click)="presentPopover($event)" [fill]="selectedFilteritem !== '' ? 'solid' : ''">
    Filtrar
    <ion-icon slot="end" name="filter-outline"></ion-icon>
  </ion-button>
  <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item-group>
            <ion-item-divider>
              <ion-label> Ordenar por</ion-label>
            </ion-item-divider>
            <ion-item [button]="true" [detail]="false" (click)="onItemClicked('more')" [ngClass]="{'active': selectedFilteritem === 'more'}" >Más existencias</ion-item>
            <ion-item [button]="true" [detail]="false" (click)="onItemClicked('less')" [ngClass]="{'active': selectedFilteritem === 'less'}">Menos existencias</ion-item>
          </ion-item-group>

          <ion-item-group>
            <ion-item-divider>
              <ion-label> Filtrar por</ion-label>
            </ion-item-divider>

            <ion-item [button]="true" id="nested-trigger" [ngClass]="{'active': selectedFilteritem !== '' && selectedFilteritem !== 'less' && selectedFilteritem !== 'more'}">Categorias</ion-item>
            <ion-popover trigger="nested-trigger" [dismissOnSelect]="true" side="end">
              <ng-template>
                <ion-content>
                  <ion-list class="mt-4">
                    <ion-item
                      [ngClass]="{'active': selectedFilteritem === item?.id + '' }"
                      [button]="true"
                      [detail]="false"
                      *ngFor="let item of categories"
                      (click)="onCategoryClicked(item?.id)"
                      >{{ item.name }}</ion-item
                    >
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
            <ion-item [button]="true" [detail]="false" (click)="onItemClicked('clear')"
              >Borrar filtros <ion-icon slot="end" name="trash"></ion-icon>
            </ion-item>
          </ion-item-group>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</ng-container>