<ion-header [translucent]="false" class="ion-no-border">
  <ion-toolbar>
    <ion-title> Perfil </ion-title>
    <ion-buttons slot="end">
      <ion-button
      (click)="authService.logout()"
      id="open-modal"
      color="primary">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
      <app-avatar
        (click)="updateUserPicture()"
        [size]="'large'"
        [img]="(authService.user?.image  || '')"
      ></app-avatar>
      <p
        *ngIf="!editMode"
        class="mt-4 text-center text-2xl font-bold leading-9 tracking-tight "
      >
        {{authService.user?.name}} {{authService.user?.lastName}}
      </p>
      <h3
        class="text-center text-xl font-normal leading-9 tracking-tight "
      >
      </h3>
    </div>

    <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
      <div class="flex mt-4 w-full">
        <div class="w-1/2 mr-4">
          <app-input
            [inputValue]="authService.user?.name ?? ''"
            [id]="'name'"
            [type]="'text'"
            [label]="'Nombre'"
            [required]="true"
            [maxLength]="100"
            (inputValueChange)="changeName($event)"
          ></app-input>
        </div>

        <div class="w-1/2">
          <app-input
          [inputValue]="authService.user?.lastName ?? ''"
          [id]="'name'"
          [type]="'text'"
          [label]="'Apellido'"
          [required]="true"
          [maxLength]="100"
          (inputValueChange)="changelastName($event)"
          ></app-input>
        </div>
      </div>


      <div class="flex mt-4 w-full">
        <div class="w-1/2 mr-4">
          <app-input
            [inputValue]="authService.user?.email || ''"
            [disabled]="true"
            [id]="'email'"
            [type]="'email'"
            [label]="'Correo electronico'"
            [required]="true"
            [maxLength]="100"
          ></app-input>
        </div>

        <div class="w-1/2">
          <app-input
            [inputValue]="authService.user?.phone || ''"
            [id]="'phone'"
            [type]="'phone'"
            [label]="'Numero de telefono'"
            [maxLength]="100"
            (inputValueChange)="changePhone($event)"
          ></app-input>
        </div>
      </div>

      <div class="mt-4 text-center text-sm text-gray-500"
      *ngIf="!editMode"
      >
        <app-button
          [disabled]="!areChangesAvalible"
          [outline]="false"
          [label]="'Guardar cambios'"
          size="large"
          (click)="editProfile()"
        ></app-button>
      </div>
    </div>
  </div>
</ion-content>
