<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> Lista de productos </ion-title>
    <ion-buttons slot="end">
      <app-filter-popover [categories]="categories" (clickedItem)="clickedItem($event)" (clickedCategory)="clickedCategory($event)" [selectedFilteritem]="selectedFilteritem || filter.categoryId || ''"></app-filter-popover>
      
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar
      #search
      [ngModel]="searchValue"
      show-cancel-button="focus"
      show-clear-button="never"
      cancel-button-icon="trash"
      (ionCancel)="hideSearch()"
      class="sm:mx-[25%] sm:w-auto"
      (ngModelChange)="searchFunction($event || '')"
      placeholder="Buscar producto..."></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ng-container *ngIf="tempProduc$ else listProduct">
    <ng-container *ngIf="tempProduc$ | async as observableResult">
      <div class="flex min-h-full flex-col justify-start px-4 py-4 lg:px-6">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
          <div
            *ngIf="!observableResult || !observableResult.length"
            class="flex min-h-full flex-col justify-start items-center">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
              <p class="text-center text-2xl font-bold leading-9 tracking-tight">No se encontraron productos</p>
            </div>
            <ion-icon name="sad-outline" size="large" class="text-center mt-4"></ion-icon>
          </div>
          <ion-list *ngIf="observableResult">
            <ion-item-sliding *ngFor="let workout of observableResult">
              <ion-item-options side="start">
                <ion-item-option (click)="addToCard(workout, 1)" color="success">
                  <ion-icon slot="start" name="cart-outline"></ion-icon>
                  Agregar al carrito</ion-item-option
                >
              </ion-item-options>

              <app-product-item
                [detailed]="true"
                [image]="workout?.image"
                [name]="workout?.name"
                [stock]="workout?.stock"
                [category]="workout?.category?.name"
                [price]="workout?.priceSell"
                [description]="workout?.description || workout?.code">
              </app-product-item>

              <ion-item-options slot="end">
                <ion-item-option (click)="edit(workout)" color="warning">
                  <ion-icon slot="start" name="pencil-outline"></ion-icon>
                  Editar</ion-item-option
                >
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </div>
      <ion-fab *ngIf="observableResult.length" slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="scanCode()">
          <ion-icon name="barcode-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-container>
  </ng-container>

  <ng-template #listProduct>
    <ng-container *ngIf="$observable | async as observableResult">
      <div class="flex min-h-full flex-col justify-start px-4 py-4 lg:px-6">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
          <div
            *ngIf="!observableResult || !observableResult.Exercise?.products?.length"
            class="flex min-h-full flex-col justify-start items-center">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm md:max-w-md">
              <p class="text-center text-2xl font-bold leading-9 tracking-tight">No se encontraron productos</p>
            </div>
            <ion-icon name="sad-outline" size="large" class="text-center mt-4"></ion-icon>
          </div>
          <ion-list *ngIf="observableResult  && observableResult.Exercise">
            <ion-item-sliding *ngFor="let workout of observableResult.Exercise?.products">
              <ion-item-options side="start">
                <ion-item-option (click)="addToCard(workout, 1)" color="success">
                  <ion-icon slot="start" name="cart-outline"></ion-icon>
                  Agregar al carrito</ion-item-option
                >
              </ion-item-options>

              <app-product-item
                [detailed]="true"
                [image]="workout?.image"
                [name]="workout?.name"
                [stock]="workout?.stock"
                [category]="workout?.category?.name"
                [price]="workout?.priceSell"
                [description]="workout?.description || workout?.code">
              </app-product-item>
              <ion-item-options slot="end">
                <ion-item-option (click)="edit(workout)" color="warning">
                  <ion-icon slot="start" name="pencil-outline"></ion-icon>
                  Editar</ion-item-option
                >
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </div>
      <ion-fab *ngIf="observableResult.Exercise" slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="openModal()" color="success" class="mb-4">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>

        <ion-fab-button (click)="scanCode()">
          <ion-icon name="barcode-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ng-container>
  </ng-template>
</ion-content>
