<div>
  <label [for]="id" class="block text-sm font-medium leading-6">{{ label }}</label>
  <div class="mt-2" [ngClass]="{ 'mt-2': size !== 'small', '-mt-1': size === 'small' }">
    <ng-container [formGroup]="userForm" novalidate *ngIf="type === 'phone'">
      <input
        id="tel"
        phoneMask
        [preValue]="inputValue"
        [phoneControl]="userForm.controls['phone']"
        formControlName="phone"
        maxlength="14"
        [placeholder]="placeholder"
        (ngModelChange)="handleChange($event)"
        (keyup.enter)="handleChangeEnter()"
        [name]="id"
        [type]="type"
        [autocomplete]="type"
        [ngClass]="{
          'ring-red-600 focus:ring-red-600': hasError,
          'block rounded-md border-0 text-center': size === 'small',
          'px-4 py-3.5': size !== 'small',
        }"
        class="block w-full rounded-md border-0 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6" />
    </ng-container>

    <input
      focusout
      *ngIf="type !== 'phone' && type !== 'date' && type !== 'toggle'"
      [placeholder]="placeholder"
      [(ngModel)]="inputValue"
      (ngModelChange)="handleChange($event)"
      (keyup.enter)="handleChangeEnter()"
      [id]="id"
      [name]="id"
      [type]="type"
      [autocomplete]="type"
      [required]="required"
      [disabled]="disabled"
      [max]="maxLength"
      [ngClass]="{
        'ring-red-600 focus:ring-red-600': hasError,
        'block rounded-md border-0 text-center': size === 'small',
        'px-4 py-3.5': size !== 'small',
      }"
      class="block w-full rounded-md border-0 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6" />
    
      <ng-container *ngIf="type === 'toggle'">
      <div
        class="h-[50.6px] flex justify-center items-center w-full rounded-md border-0 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6"
        [ngClass]="{
          'ring-red-600 focus:ring-red-600': hasError,
          'block rounded-md border-0 text-center': size === 'small',
          'px-4 py-3.5': size !== 'small',
        }">
        <ion-toggle [enableOnOffLabels]="true" [checked]="!!inputValue" (ionChange)="handleChange($event)"
        >{{placeholder}}</ion-toggle>
      </div>
    </ng-container>

    <ng-container *ngIf="type === 'date'">
      <ion-datetime-button
        datetime="datetime"
        [ngClass]="{
          'ring-red-600 focus:ring-red-600': hasError,
          'block rounded-md border-0 text-center': size === 'small',
          'px-4 py-3.5': size !== 'small',
        }"
        class="w-full rounded-md border-0 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 sm:text-sm sm:leading-6 flex justify-between"
        ></ion-datetime-button>

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
          (ionChange)="handleChange($event)"
            locale="es-ES"
            id="datetime"
            presentation="date-time"
            [showDefaultButtons]="true"
            [value]="inputValue || null"
            doneText="Listo"
            cancelText="Cancelar">
            <span slot="time-label"
            >Tiempo</span>
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ng-container>

    <label *ngIf="hasError" class="mt-2 ml-2 block text-sm font-medium leading-6 text-red-600">{{ hasError }}</label>
  </div>
</div>
