.center,
ion-card {
    align-content: center;
    text-align: center !important;
    align-items: center !important;
}


.customImage {
    width: auto;
    height: auto;
    text-align: center;
    align-content: center;
    padding-left: 0px !important;
    padding-right: 10px !important;
    // background:transparent url('/assets/theme/images/Spin.gif') center no-repeat;
    // background-position:center;
    // background-size: 50px;

}

.customMarginDiv {
    margin-right: 10px;
    margin-top: 15px;
}

.customPrice {
    margin-top: 10px;
    margin-right: 10px;
}

.customHrVertical {
    border-left: 1px solid #ccc;
}

.customButtonQuantity {
    width: auto;
    height: 30px;
}

.customInputQuantity {
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: left;
}

.customTotalOfProducts {
    text-align: center;
    align-content: center;
}

.customTotalCard {
    position: static;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.customButtonCreateOrder {
    height: 50px;
}

// Style only when the cart is empty
.empty {
    text-align: center;
    margin-top: 50%;
}

/* DOES NOT WORK - not specific enough */
.popover-content {
    background: #222;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-custom-class .popover-content {
    background: #222;
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.card-content-md p {
    margin-bottom: 0px !important;
}

.customCol {
    padding-left: 0px !important;
}

@media only screen and (min-width: 710px) {
    h6 {
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
    ion-button {
        font-size: 20px;
    }
    ion-card-subtitle {
        font-size: 20px;
    }
    ion-card-title {
        font-size: 25px;
    }
}

// Styles for the products with promotion
.barTypeOne {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: white;
    background-color: #ed1e2c;
    text-align: center;
}

.barTypeTwo {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    color: white;
    background-color: #3ab54a;
    text-align: center;
}

// Custom is only for products without promotion.
.customPriceNormal {
    float: right;
    margin-right: 10px;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 30px;
}

// Custom is only for products with promotion.
.customPriceBase {
    text-decoration: line-through;
}

.customTextTotales {
    font-size: 20px;
    em {
        color: #3ab54a;
    }
}
